html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	margin: 0;
}

main {
	display: inline-block;
	width: auto;
	flex-wrap: wrap;
	margin: 0 7vw;
}

h1 {
	margin: 3rem 0 2rem;
	font-size: 4rem;
}
h2 {
	margin: 0 0 1.5rem;
	font-size: 3rem;
	& span {
		&::after {
			content: '/';
			margin-left: 0.75rem;
			display: inline-block;
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
	}
}
h4 {
	display: flex;
	margin: 0 0 1rem;
	font-size: 2rem;
}
h4 span {
	margin-right: 0.5rem;
	width: auto;
}

ul {
	display: none;
}
li {
	margin-bottom: 0.75rem;
}
li:last-child {
	margin-bottom: 0;
}
a {
	font-size: 1.5rem;
	line-height: 1.5rem;
	padding-bottom: 0.25rem;
	color: unset;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
a span {
	display: none;
	margin-left: 0.5rem;
	width: auto;
}
a:hover {
	border-bottom: 1px solid;
}
a:hover span {
	display: inline-block;
}
footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 3rem 0 2rem;
}
#why_cta {
	font-size: 0.75rem;
	font-weight: 500;
	opacity: 0.5;
	cursor: pointer;
}
.languages {
	font-weight: 500;
	opacity: 0.9;
	& span {
		cursor: pointer;
		&:first-child {
			margin-right: 0.5rem;
		}
	}
}
#why {
	max-width: 750px;
	font-size: 0.875rem;
	margin: 3rem 0 1rem;
	letter-spacing: 0.05rem;
	opacity: 0.75;
	line-height: 1.2rem;
	display: none;
}

@media screen and (max-height: 640px) {
	html {
		height: auto;
	}
}
@media screen and (max-width: 468px) {
	html {
		font-size: 13px;
	}
	li {
		margin-bottom: 1rem;
	}
}
