html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	margin: 0;
  &::before {
    display: none;
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./habitat.gif);
    background-position: center;
    opacity: 0.25;
    display: inline-flex;
    width: 100%;
    height: inherit;
    z-index: -1;
    position: absolute;
    align-self: center;
    justify-self: anchor-center;
  }
}

main {
	display: inline-block;
	width: auto;
	flex-wrap: wrap;
	margin: 0 7vw;
}

h1 {
	margin: 3rem 0 2rem;
	font-size: 4rem;
}
h2 {
	margin: 0 0 1.5rem;
	font-size: 3rem;
	& span {
		&::after {
			content: '/';
			margin-left: 0.75rem;
			display: inline-block;
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
	}
}
h4 {
	display: flex;
	margin: 0 0 1rem;
	font-size: 2rem;
}
h4 span {
	margin-right: 0.5rem;
	width: auto;
}

ul {
	display: none;
}
li {
	margin-bottom: 0.75rem;
}
li:last-child {
	margin-bottom: 0;
}
a {
	font-size: 1.5rem;
	line-height: 1.5rem;
	padding-bottom: 0.25rem;
	color: unset;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
a span {
	display: none;
	margin-left: 0.5rem;
	width: auto;
}
a:hover {
	border-bottom: 1px solid;
}
a:hover span {
	display: inline-block;
}
footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 3rem 0 2rem;
}
#why_cta {
	font-size: 0.875rem;
	font-weight: 500;
	opacity: 0.85;
	cursor: pointer;
}
.languages {
	font-weight: 500;
	opacity: 0.9;
	& span {
		cursor: pointer;
		font-size: 1.5rem;
		margin-right: 0.5rem;
		&:last-child {
			margin-right: 0;
		}
	}
}
#why {
	max-width: 750px;
	font-size: 1rem;
	margin: 3rem 0 0;
	opacity: 0.75;
	line-height: 1.2rem;
	display: none;
}
.glitch {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
}

.glitch h1 {
	position: relative;
	font-size: 2.875rem;
	margin: 0;
}

.glitch h1::before,
.glitch h1::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.glitch h1::before {
	left: 1px;
	text-shadow: -1px 0 red;
	animation: glitch-anim-1 0.8s infinite linear alternate-reverse;
}

.glitch h1::after {
	left: -1px;
	text-shadow: 1px 0 blue;
	animation: glitch-anim-2 0.9s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
	0% {
		clip: rect(42px, 9999px, 44px, 0);
	}
	20% {
		clip: rect(15px, 9999px, 75px, 0);
	}
	40% {
		clip: rect(50px, 9999px, 100px, 0);
	}
	60% {
		clip: rect(30px, 9999px, 60px, 0);
	}
	80% {
		clip: rect(90px, 9999px, 120px, 0);
	}
	100% {
		clip: rect(10px, 9999px, 40px, 0);
	}
}

@keyframes glitch-anim-2 {
	0% {
		clip: rect(88px, 9999px, 130px, 0);
	}
	20% {
		clip: rect(25px, 9999px, 55px, 0);
	}
	40% {
		clip: rect(100px, 9999px, 140px, 0);
	}
	60% {
		clip: rect(60px, 9999px, 90px, 0);
	}
	80% {
		clip: rect(10px, 9999px, 35px, 0);
	}
	100% {
		clip: rect(110px, 9999px, 150px, 0);
	}
}

@media screen and (max-height: 640px) {
	html {
		height: auto;
	}
}
@media screen and (max-width: 468px) {
	html {
		font-size: 13px;
	}
	li {
		margin-bottom: 1rem;
	}
}
